/* Parallax header */
/* #parallaxHeader {
  background: url("../img/coin-shine1.gif") fixed center -350px / cover;
  border: 1px solid #000;
  height: 200px;
} */

html,
body {
  background-color: whitesmoke;
}

#cryptoHeader {
  color: rgb(225, 0, 0);
  font-weight: bold;
  text-shadow: 5px 5px 5px #000;
  padding-left: 110px;
  padding-top: 120px;
  position: absolute;
  z-index: 1;
}

/* Parallax header */
/* Parallax header container */
#parallaxHeader {
  position: relative;
  border: 1px solid #000;
  height: 200px;
  overflow: hidden;
}

/* Parallax container for video and overlay GIF */
.parallax-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* Video styling */
#parallaxHeader video {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateY(-1%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Place video behind overlay GIF */
}

/* Overlay container for the sticky GIF */
.overlay-container {
  position: fixed;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay GIF styling */
#overlayGif {
  height: 100px;
  object-fit: contain; /* You can adjust this as needed */
}

/* Media query for smaller screens */
@media (max-width: 868px) {
  #cryptoHeader {
    padding-left: 80px;
    padding-top: 131px;
  }
  #overlayGif {
    height: 70px;
  }
  .overlay-container {
    top: 120px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  #cryptoHeader {
    padding-left: 30px;
    padding-top: 40px;
  }
  #overlayGif {
    height: 25px;
  }
  .overlay-container {
    top: 48px;
  }
  #parallaxHeader {
    height: 90px;
  }
}

/* navbar */
.navbar {
}

/* tab navigation */
.tab-content {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

/* About tab */
.aboutInfo,
h3 {
  font-weight: bold;
  text-align: center;
}

.aboutInfo > h1.aboutInfo,
h3.aboutInfo {
  text-decoration: underline double;
}

#aboutIMG {
  height: 400px;
}

/* Coin cards */
.card {
  width: 320px;
}

.cardBox {
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
}

.cardImage {
  height: 40px;
}

.coinName {
  margin-left: 10px;
  margin-top: 7px;
}

.cardBox:hover {
  box-shadow: 0 0 10px #000;
}

.card-body {
  height: 40px;
  margin-bottom: 25px;
}

.card-header {
  height: 55px;
}

.checkbox {
  cursor: pointer;
}

.coinInfo {
  display: none;
}

#cardsCon {
  justify-content: center;
}

/* get more info gif */
#loading {
  height: 50px;
  width: 50px;
}

/* Modal */
.modal-body {
  text-align: center;
}

.modalImage {
  height: 15px;
  margin-bottom: 3px;
  padding-right: 3px;
}

#modalCoins {
  display: flex;
  justify-content: space-around;
}

#currentCoins,
#addedCoin {
  text-align: left;
}

#btn {
  margin-left: auto;
}
