html,
body {
  background-color: whitesmoke;
}

#cryptoHeader {
  font-family: "Orbitron", sans-serif;
  color: #ffd700;
  text-shadow: 2px 2px 2px #800000;
  font-size: 3.5rem;
  padding-left: 110px;
  padding-top: 90px;
  position: absolute;
  z-index: 1;
}

/* Parallax header */
#parallaxHeader {
  position: relative;
  border: 1px solid #000;
  height: 170px;
  overflow: hidden;
}

/* Parallax container for video and overlay GIF */
.parallax-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* Video styling */
#parallaxHeader video {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateY(-1%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Overlay container for the sticky GIF */
.overlay-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s;
  cursor: pointer;
  z-index: 1;
  top: 70px;
}

/* Overlay GIF styling */
#overlayGif {
  height: 100px;
  object-fit: contain;
}

/* navbar */
.navbar {
}

.nav-item {
  font-weight: 600;
}

/* tab navigation */
.tab-content {
  background-color: whitesmoke;
}

/* About tab */
#about {
  text-align: center;
}

.aboutInfo,
h3 {
  font-weight: bold;
  text-align: center;
}

/* Coin cards */
#cardsCon {
  columns: 5;
  margin: 20px auto;
  column-gap: 40px;
  width: 90%;
}

.card {
  max-width: 100%;
}

.cardBox {
  border: 2px solid black;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
  break-inside: avoid;
}

.cardImage {
  height: 40px;
}

.coinName {
  margin-left: 10px;
  margin-top: 7px;
  font-weight: bolder;
}

.cardBox:hover {
  box-shadow: 0 0 10px #000;
}

.cardSymbol {
  height: 30px;
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: smaller;
  text-transform: uppercase;
}

.card-header {
  height: 55px;
}

.checkbox {
  cursor: pointer;
}

.coinInfo {
  display: none;
}

.moreData {
  font-weight: 600;
}

/* get more info gif */
#loading {
  height: 50px;
  width: 50px;
}

/* Modal */
.modal-body {
  text-align: center;
}

.modalImage {
  height: 15px;
  margin-bottom: 3px;
  padding-right: 3px;
}

#modalCoins {
  display: flex;
  justify-content: space-around;
}

#currentCoins,
#addedCoin {
  text-align: left;
}

#btn {
  margin-left: auto;
}

.aboutInfoImg {
  height: 300px;
  width: 900px;
}
.aboutInfoToggle {
  overflow: hidden;
}

/* Media query for smaller screens */
@media (max-width: 868px) {
  #parallaxHeader {
    height: 130px;
  }
  #cryptoHeader {
    font-size: 3rem;
    padding-left: 80px;
    padding-top: 60px;
  }
  #overlayGif {
    height: 70px;
  }
  .overlay-container {
    top: 55px;
  }
  .aboutInfoImg {
    height: 300px;
    width: 600px;
  }
  .aboutInfoToggle {
    height: 600px;
    overflow: hidden;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  #cryptoHeader {
    font-size: 2rem;
    padding-left: 30px;
    padding-top: 48px;
  }
  #overlayGif {
    height: 28px;
  }
  .overlay-container {
    top: 55px;
    left: -1px;
  }
  #parallaxHeader {
    height: 90px;
  }
  .aboutInfoImg {
    height: 200px;
    width: 300px;
  }
  .aboutInfoToggle {
    height: 700px;
    overflow: hidden;
  }
}

/* Media query for even smaller screens */
@media (max-width: 360px) {
  .nav-item {
    width: 110px;
  }
  #overlayGif {
    height: 20px;
  }
  .overlay-container {
    left: -1px;
  }
}
